version: '3.8'

services:
  nginx:
    depends_on:
      - api
      - client
    restart: always
    build:
      context: ./nginx
    ports:
      - "80:80"
    volumes:
      - ./frontend/dist:/var/www/html

  api:
    build:
      context: ./backend
    ports:
     - "4040:4040"

  client:
    stdin_open: true
    build:
      context: ./frontend
    volumes:
      - ./frontend/dist:/usr/src/app/dist
