version: '3.8'

services:
  nginx:
    depends_on:
      - api
      - client
    restart: always
    build:
      context: ./nginx
    ports:
      - "80:80"

  api:
    build:
      context: ./backend
    ports:
     - "4040:4040"

  client:
    build:
      context: ./frontend
    ports:
     - "3030:3030"
